@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Overpass';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/overpass/Overpass-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Undotted';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/undotted/Undotted-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'Undotted';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/undotted/Undotted-Bold.woff2') format('woff');
}

@font-face {
  font-family: 'Undotted';
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/undotted/Undotted-Black.woff2') format('woff');
}

.clip-path {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%)
}

@layer base {
  body {
    @apply bg-white text-black font-overpass;
  }
}

@layer utilities {
  .horizontal-spacing {
    @apply px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 2xl:px-14;
  }
}